

@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bonheur+Royale&family=Great+Vibes&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Parisienne&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --font-pacifico: 'Pacifico', cursive;
  --font-parisienne: 'Parisienne', cursive;
  --font-satisfy: 'Satisfy', cursive;
  --font-playfair: 'Playfair Display',sans-serif;
  
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  /* font-family: Arial, Helvetica, sans-serif; */
}

main{
  background-color: #ffffff;
}

.hero-text{
  font-family: "Great Vibes" !important;
  font-weight: 400;
  font-style: normal;
}
.bg-photo{
  background-image: url('../public/jumping.jpeg');

}

